# Visual Code 
*.code-workspace

# Linux env
*.dat

# Secret stuff
secrets.json

# Audio files
*.wav

# Logs
*.log

# Python cache files
*.pyc

# Node files
site/*/node_modules/*

# Chord File
results.txt
Vivado
IP
*.jou
*.str